@import "./reset";

$d-cyan: hsl(185, 75%, 39%);
$vdd-blu: hsl(229, 23%, 23%);
$dg-blu: hsl(227, 10%, 46%);
$d-grey: hsl(0, 0%, 59%);

$attr-link: hsl(228, 45%, 44%);

$ff-base: "Kumbh Sans", sans-serif;

$pttrn-top: url(../../images/bg-pattern-top.svg);
$pttrn-bot: url(../../images/bg-pattern-bottom.svg);

body {
  background: $d-cyan;
  font-family: $ff-base;
  display: grid;
  place-content: center;
  padding: 1.75rem;
  position: relative;

  img[class*="-bg-svg"] {
    position: absolute;
    z-index: -1;
  }

  img[class*="top-"] {
    transform: translate(-50%, -50%) scale(1.25);
    top: 0;
    left: 0;
  }

  img[class*="bottom-"] {
    transform: translate(50%, 50%) scale(1.25);
    bottom: 0;
    right: 0;
  }

  .card {
    border-radius: 1rem;
    background: white;
    overflow: hidden;

    .profile_content {
      // display: grid;

      .profile-img-wrppr {
        width: max-content;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid white;
        transform: translateY(-50%);
        margin-inline: auto;
      }

      .profile_desc {
        width: 100%;
        display: grid;
        text-align: center;

        .name-age_wrppr {
          h1 {
            font-size: 1.125rem;
            color: $vdd-blu;
            display: inline-block;
          }

          span {
            color: $dg-blu;
          }
        }

        h2 {
          font-size: 1em;
          color: $dg-blu;
          font-weight: normal;
        }

        .card_stats {
          padding-inline: 1.75em;
          padding-block: 1.5rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-top: 1px solid rgba($d-grey, 0.5);

          h3 {
            font-size: 1.125em;
            color: $vdd-blu;
          }

          span {
            font-size: 0.75em;
            color: $dg-blu;
          }
        }
      }
    }
  }

  .attribution {
    background: white;
    padding-inline: 0.125rem;
    font-size: 0.625rem;
    position: fixed;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg) translate(6.6rem, 6.4rem);

    a {
      color: $attr-link;
      transition: all 0.25s ease-in;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
